.br-2{
	border-radius: 2px;
}

.my-form .row{
	margin-bottom: 0;
}

.nav-action{
	bottom: 0;
	right: 0;
	left: 0;
}

.custom-table{
	
}

.lh-36{
	line-height: 36px !important;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label{
	padding-left: 26px;
}

.modal-lazada-category{
	width: 1190px;
}

.modal-lazada-category h4{
	margin-bottom: 10px !important;
}

.modal-lazada-category .modal-content{
	padding: 15px;
}

.modal-lazada-category .modal-content .group-level{
	height: 370px;
	margin: 0;
}

.modal-lazada-category .group-wrap{
	width: 25%;
	float: left;
    border: 1px solid #ddd;
    border-left: none;
    min-height: 100%;    
}

.modal-lazada-category .group-wrap:first-child{
	border-left: 1px solid #ddd;
}

.modal-lazada-category .list-wrap{
	overflow-y: scroll;
    height: 290px;
}

.modal-lazada-category .list-wrap::-webkit-scrollbar {
    width: 0px;  
    background: transparent; 
}

.modal-lazada-category .list-wrap::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.modal-lazada-category .group-wrap .search-wrap{
	padding: 0 10px;
}

.modal-lazada-category .list-wrap li{
	min-height: 24px;
    font-size: 13px;
    padding: 0 5px 0 10px;
}

.modal-lazada-category .list-wrap li:hover,
.modal-lazada-category .list-wrap li.selected{
	background: #e4e4e4;
}



.modal-lazada-category .list-wrap li i{
	margin-left: 5px;
	font-size: 19px;
	line-height: 24px;
}

.modal-lazada-category .list-wrap li span{
	display: inline-block;
	line-height: 24px;
}