.m-0{
	margin: 0 !important;
}

.p-0{
	padding: 0 !important;
}

.br-2{
	border-radius: 2px;
}

.my-form .row{
	margin-bottom: 0;
}

.nav-action{
	bottom: 0;
	right: 0;
	left: 0;
}

.custom-table{
	
}
