html,
.input-field label{
    color: #555555;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track,
aside::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar,
ul::-webkit-scrollbar,
aside::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb{
    background-color: #26a69a;    
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

input::placeholder { 
    color: #9c9999;
    opacity: 1; 
}

input:-ms-input-placeholder { 
    color: #9c9999;
}

input::-ms-input-placeholder { 
    color: #9c9999;
}

.input-field > label.active ,
.input-field > .select-wrapper+label{
    color: #9e9e9e;
}

.br-2{
	border-radius: 2px;
}

.my-form .row{
	margin-bottom: 0;
}

.nav-action{
	bottom: 0;
	right: 0;
	left: 0;
}

.custom-table{
	clear: both;
    max-width: none !important;
    font-size: 13px;
    margin-bottom: 0;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.custom-table > thead, 
.custom-table > tfoot {
	
}

.custom-table > thead > tr {
    background: none;
    color: #707070;
    font-weight: 400;
}

.custom-table > thead > tr > th, 
.custom-table > tbody > tr > th, 
.custom-table > tfoot > tr > th, 
.custom-table > thead > tr > td, 
.custom-table > tbody > tr > td, 
.custom-table > tfoot > tr > td{
    padding: 6px 5px;
    border-top: 1px solid #ddd;
    vertical-align: middle;
    padding: 7px;
}

.custom-table > thead > tr > th{
    text-align: center;
}

.custom-table tr th label,
.custom-table tr th i,
.custom-table tr th span,
.custom-table tr td label,
.custom-table tr td i,
.custom-table tr td span{
    vertical-align: middle;
}
.custom-table > thead > tr > th:first-child{
	border-left-color: #ddd;
}

.custom-table input{
	margin: 0 !important;
    border: 1px solid #dcdee3;
    padding: 5px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 2px;
}

.custom-table td.center,
.custom-table th.center{
    text-align: center;
    vertical-align: middle;
}

.custom-table > tbody > tr:not(.no-record):hover{
    background: rgb(255, 252, 210) !important;
}

.custom-table > tbody > tr:hover input{
    background: #fff;
}

.custom-table > thead > tr:first-child > th{
    border-top: none;
}

table.custom-table thead .sorting,
table.custom-table thead .sorting_asc,
table.custom-table thead .sorting_desc {
    cursor: pointer;
}

table.custom-table thead .sorting,
table.custom-table thead .sorting_asc,
table.custom-table thead .sorting_desc,
table.custom-table thead .sorting_asc_disabled,
table.custom-table thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 20px;
}

table.custom-table thead .sorting {
    background-image: url("../images/sort_both.png");
}

table.custom-table thead .sorting_asc {
    background-image: url("../images/sort_asc.png");
}

table.custom-table thead .sorting_desc {
    background-image: url("../images/sort_desc.png");
}

table.custom-table thead .sorting_asc_disabled {
    background-image: url("../images/sort_asc_disabled.png");
}

table.custom-table thead .sorting_desc_disabled {
    background-image: url("../images/sort_desc_disabled.png");
}

table.custom-table thead th.hide-text{
    background-image: none;
}

table.custom-table td a.img{
    position: relative;
    display: block;
    background: #fafbfc;
    padding: 0;
    width: 40px;
    height: 40px;
}
table.custom-table td a.img:before{
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(195,207,216,.3);
}

table.custom-table td a.img img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

table.custom-table .remove-item{
    cursor: pointer;
}

table.custom-table td[data-price] input#price{
    cursor: pointer;
}

.lh-20{
    line-height: 20px !important;    
}

.lh-30{
    line-height: 30px !important;    
}

.lh-36{
	line-height: 36px !important;    
}

.lh-45{
    line-height: 45px !important;    
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label{
	padding-left: 26px;
}

.modal-lazada-category{
	width: 1190px;
}

.modal-lazada-category h4{
	margin-bottom: 10px !important;
}

.modal-lazada-category .modal-content{
	padding: 15px;
}

.modal-lazada-category .modal-content .group-level {
	margin-bottom: 0;
	height: 350px;
}

.modal-lazada-category .group-wrap {
	width: 25%;
	float: left;
    border: 1px solid #ddd;
    border-left: none;
    min-height: 100%;   
    margin-bottom: 10px; 
}

.modal-lazada-category .group-wrap:first-child,
.modal-lazada-category .group-wrap:nth-child(5) {
	border-left: 1px solid #ddd;
}

.modal-lazada-category .list-wrap{
    overflow-y: scroll;
    height: 285px;
    margin: 10px 0;
}

.modal-lazada-category .list-wrap::-webkit-scrollbar {
    width: 0px;  
    background: transparent; 
}

.modal-lazada-category .list-wrap::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.modal-lazada-category .group-wrap .search-wrap {
	padding: 0 10px;
}

.modal-lazada-category .list-wrap li{
	min-height: 24px;
    font-size: 13px;
    padding: 0 5px 0 10px;
}

.modal-lazada-category .list-wrap li:hover,
.modal-lazada-category .list-wrap li.selected {
	background: #e4e4e4;
}

.modal-lazada-category .list-wrap li i {
	margin-left: 5px;
	font-size: 19px;
	line-height: 24px;
}

.modal-lazada-category .list-wrap li span{
	display: inline-block;
	line-height: 24px;
}

.modal .modal-footer{
    border-top: 1px solid #ddd;
}

.modal-mini{

}

.modal .modal-header{
    padding: 10px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0,0,0,0.54);
    border-bottom: 1px solid #ddd;
}

.btn-mini {
	width: 25px;
    height: 25px;
    border-radius: 2px;
    line-height: 25px;
}

.btn-mini > i{
	font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding: 0;
}

input:not([type]), 
input[type=text], 
input[type=password], 
input[type=email], 
input[type=url], 
input[type=time], 
input[type=date], 
input[type=datetime], 
input[type=datetime-local], 
input[type=tel], 
input[type=number], 
input[type=search], 
textarea.materialize-textarea,
.select-wrapper input.select-dropdown{
	margin: 0 0 10px 0;
}

.w-1{
	width: 1%;
}

.w-2{
	width: 2%;
}

.w-3{
	width: 3%;
}

.w-5{
	width: 5%;
}

.w-6{
	width: 6%;
}

.w-8{
	width: 8%;
}

.w-10{
	width: 10%;
}

.w-12{
    width: 12%;
}

.w-15{
	width: 15%;
}

.w-17{
    width: 17%;
}

.w-18{
    width: 18%;
}

.w-20{
	width: 20%;
}


.w-25{
    width: 25%;
}

.w-27{
    width: 27%;
}

.w-28{
    width: 28%;
}

.w-29{
    width: 29%;
}

.w-30{
	width: 30%;
}

.w-40{
	width: 40%;
}

.w-50{
	width: 50%;
}

.w-60{
	width: 60%;
}

.w-65{
    width: 65%;
}

.w-70{
	width: 70%;
}

.w-80{
	width: 80%;
}

.w-90{
	width: 90%;
}

.w-100{
	width: 100%;
}

.p-t-0{
    padding-top: 0 !important;
}

.p-b-0{
    padding-bottom: 0 !important;
}

.p-l-0{
    padding-left: 0 !important;
}

.p-r-0{
    padding-right: 0 !important;
}

.p-t-10{
    padding-top: 10px !important;
}

.p-b-10{
    padding-bottom: 10px !important;
}

.lazada-icon {
    height: 21px;
    width: 22px;
    border-radius: 50%;
    background: #f36f21;
    padding-top: 1px;
    padding-left: 1px;
    display: inline-block;
}

.lazada-icon > div {
	height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #f36f21;
    border: 1px solid #fff;
    font-size: 8px;
    color: #fff;
    line-height: 19px;
    font-weight: bolder;
    text-align: center;
}

.input-field > label.active > .lazada-icon,
.input-field > .select-wrapper+label > .lazada-icon{
    height: 17px;
    width: 18px;
}

.input-field > label.active > .lazada-icon > div,
.input-field > .select-wrapper+label .lazada-icon > div{
    height: 16px;
    width: 16px;
    font-size: 7px;
    line-height: 15px;
}

.collapsible.popout > li{
    margin: 0;
}

.collapsible-custom li.active .collapsible-header{
    color: #fff;
    background-color: #009688;
}

.sweet-alert{
    border-radius: 2px;
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22), 0 25px 55px 0 rgba(0,0,0,0.21);
}

.sweet-alert .sa-icon.sa-warning{
    border-color: #E53935 !important;
}
.sweet-alert .sa-icon.sa-warning .sa-dot,
.sweet-alert .sa-icon.sa-warning .sa-body,
.sweet-alert .sa-icon.sa-warning .sa-dot{
    
    background-color: #E53935 !important
}

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F44336 !important }
  100% {
    border-color: #F44336 !important } 
}

@keyframes pulseWarning {
  0% {
    border-color: #F44336 !important }
  100% {
    border-color: #F44336 !important } 
}

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F44336 !important; }
  100% {
    background-color: #F44336 !important; } 
}

@keyframes pulseWarningIns {
  0% {
    background-color: #F44336 !important; }
  100% {
    background-color: #F44336 !important; } 
}

.sweet-alert button{
    font-weight: 500;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    text-decoration: none;    
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
    margin-top: 20px;
    color: #fff;
}

.sweet-alert button:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15) !important;
}

.sweet-alert button.cancel,
.sweet-alert button.cancel:hover{        
    background-color: #263238 !important;
}

.sweet-alert button.confirm,
.sweet-alert button.confirm:hover{
    background-color: #E53935 !important;
}

.toast {
    min-width: 200px;
    font-weight: 500;
}

.no-text[type="checkbox"] + label{
    padding-left: 20px;
}

.btn-small{
    padding: 2px;
    height: 26px;
    line-height: 22px;
    border-radius: 0;
}

.btn-small > i{
    font-size: 19px;
    width: 22px;
}

.text-red{
    color: #e53935;
}

.text-green{
    color: #4CAF50;
}

.label-required{
    font-size: 14px;
}

label.active > .label-required{
    font-size: 12px;
}

.input-field label.fix-active{
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}

.pagination{

}

.pagination > li{
    width: 30px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    border-radius: 2px; 
    background-color: #e3e3e3;
    display: inline-block;
    cursor: pointer;
    margin: 0 0 0 5px;
}

.pagination > li > i{
    font-size: 18px;
    line-height: 32px;
}

.pagination > li:hover,
.pagination > li.active
{
    background: #26a69a;
    color: #fff;
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pagination .count-record{
    line-height: 32px;
    margin-right: 5px;
    font-size: 12px;
}

.select-wrapper .dropdown-content{
    margin: 4px 0 0 0;
}

#wrap-more-filter {
    border-top: none;
    box-shadow: none;
}

#wrap-more-filter.active {
    /*border-top: 1px solid #ddd;
    margin: 10px 0 !important;*/
    border: 15px solid #ccd5db; 
}

.breadcrumb-header .page-title{
    color: #26a69a;
}

#wrap-action-list{
    position: absolute;
    left: 70px;
    top: 10px;
}

.btn-action{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}

.hide-text{
    text-indent: -9999px;
}

.alway-active{
    font-size: 0.8rem !important;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
    position: absolute !important;
    top: 0.8rem !important;
    cursor: text !important;
}

.v-align-b{
    vertical-align: bottom;
}

.border-t{
    border-top: 1px solid #ddd;
}

.cursor-p{
    cursor: pointer;
}

#list-fee-other{
    max-height: 270px;
    overflow-y: auto;
}

.auto-numeric{
    text-align: right;
}